body {
    position: relative;
    font: 28px "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    color: #555;
}

.top-border {
	background-color: #D0ECE7;
	height: 0.5rem;
}

.header {
	padding-bottom: 2rem;
    background: linear-gradient(#D0ECE788 2%, white 90%);
}

.header h2, .header p, .header h1 {
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 0rem;
	font-variant: small-caps;
}

.header p {
    margin-bottom: 0.2rem;
}

h1 {
    margin-top: 0;
    padding: 2rem 0;
    font-size: 100px;
}

h2 {
	margin-top: 0;
	padding-top: 2rem;
	margin-bottom: 2rem;
	font-size: 80px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    overflow: hidden;
    background: #D0ECE7;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

li {
    float: left;
}

li a {
    display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e5f9ee;
}

.active {
    background-color: #e5f9ee;
}

.content {
	padding: 2rem;
}

.hidden {
    display: none;
}

.column {
    float: left;
    width: 30%;
    margin-left: 2%;
    border: 1px solid #e3ece7;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.column-title {
    text-align: center;
    background-color: beige;
}

.column-deets {
    font-size: 20px;
    font-style: italic;
    padding: 0 0.5rem 0 0.5rem;
}

.column-description {
    font-size: 18px;
    padding: 2rem 0.5rem 1rem 0.5rem;
}

.fancy {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: teal;
    transition: transform .8s ease-in-out;
}

.fancy:hover {
    transform:rotate(180deg);
}

.footer {
    position: relative;
    clear: both;
    padding: 2.5rem 0;
    margin-bottom: 3rem;
    color: #8e8e8e;
    font-size: 18px;
    background-color: #D0ECE7;
    box-shadow: inset 0px 3px 15px 0px #aaa;
    text-align: center;
}